{% load staticfiles %}
<!DOCTYPE html>
<html >
    <head>
        <title>Jason's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body style="background-color: WhiteSmoke">
        <div class="page-header">
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="/">Jason's Blog</a></h1>
        </div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Jason</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="#">Jason</a></li>
                        {% else %}
                            <li><a href="#">sign up</a></li>
                            <li><a href="./admin/">log in</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>


        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-7">
                <p class="pull-right visible-xs">
                    <button class="btn-xs btn-primary">Toggle</button>
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8" style="background-color: white">
                            {% block content %}
                            {% endblock %}
                    </div>
                </div>
            </div>
        </div>
            <div class="col-sm-3">
                <div class="list-group" style="padding-right: 20px">
                    <a href="#" class="list-group-item"><span class="badge">14</span>Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                </div>
            </div>
        </div>

    </body>
<footer style="text-align:center">
    <p>Posted by: Jason</p>
    <p>©2016 All rights reserved. Contact information: <a href="mailto:wzs9309@gmail.com">wzs9309@gmail.com</a>.</p>
</footer>
</html>